* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.lateral {
    background-color: rgba(72, 45, 131, 1);
    width: 14%;
    padding: 0.9em;
    padding-top: 1.5em;
    min-height: 100vh;
}


.titulo {
    font-size: 40px;
    font-weight: 400;
    color: rgba(251, 176, 77, 1);
}

.branco {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.icone {
    background-color: rgba(72, 45, 131, 1);
    width: 55px;
    height: 55px;
    padding-top: 3px;
    padding-left: 5px;
    border-radius: 50%;
}

.informacoes {
    margin-left: 0.7em;
}

.topo {
    justify-content: end;
    width: 86%;
    padding-top: 1em;
    padding-right: 2em;
    height: 16vh;
}

.nome {
    color: rgba(33, 33, 33, 1);
    font-weight: 600;
    font-size: 25px;
}

.email {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 16px;
    margin-top: -6px;
}

.titulos {
    font-weight: 600;
    font-size: 36px;
    margin-top: 3.3em;
    margin-left: -45em;
    height: 8vh;
}

.conteudos {
    width: 83vw;
    margin-top: 11.9em;
    margin-left: -10em;
    background-color: white;
    border-radius: 24px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
}

.conteudosAlunos {
    width: 83vw;
    margin-top: 11.9em;
    margin-left: -7em;
    background-color: white;
    border-radius: 24px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
}

.lista {
    margin-left: 0.5em;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 0.5em;
}

.imagensLista {
    height: 30px;
    width: 30px;
}

a {
    text-decoration: none;
}

.menu {
    margin-top: 1em;
    transition: background-color 0.3s; 
    border-radius: 8px;
}

.menu:hover {
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 8px;
}

.selecionado {
    background-color: #7682c160;
    border: 0px solid;
    border-radius: 8px;
    padding: 1em;
}

.naoSelecionado {
    padding: 1em;
}

.barradePesquisa {
    display: flex;
    padding: 10px;
}

.barradePesquisa input[type="text"] {
    padding: 5px;
    width: 300px;
    height: 45px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 1em;
    padding: 1em;
}

.novo {
    background-color: #00C247;
    color: white;
    font-size: 18px;
    border: 0px solid;
    width: 200px;
    height: 45px;
    margin: 1.45em;
    margin-left: 56em;
    border-radius: 12px;
}

.novo:hover{
    background-color: #00c247cc;
    border-radius: 12px;
}

.seta {
    background-color: #d5d5d5;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 8px;
    margin-top: 9em;
    margin-left: -76em;
}

.mentor {
    margin-top: 192px;
    margin-left: 6px;
}

.containerNovoMentor {
    width: 83vw;
    height: 32vh;
    padding: 1.5em;
    margin-left: -101em;
    margin-top: 15.9em;
    background-color: white;
    border-radius: 24px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
}

.containerNovaMentoria {
    width: 83vw;
    height: 65vh;
    padding: 1.5em;
    margin-left: -101em;
    margin-top: 15.9em;
    background-color: white;
    border-radius: 24px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
}

.linha {
    height: 2px;
    width: 1545px;
    background: #BDBDBD;
}

.dados {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: #482D83;
    margin-bottom: 0.5em;
}

.formulario {
    margin-top: 2em;
}

.tituloLabel {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #757575;
}

.inputDados {
    width: 400px;
    height: 56px;
    border-radius: 16px;
    padding: 1em;
    border: 1px solid var(--cinzas-cinza-300, #E0E0E0);
    background: var(--branco, #FFF);
}

.inputDadosMenor {
    width: 250px;
    height: 56px;
    border-radius: 16px;
    padding: 1em;
    border: 1px solid var(--cinzas-cinza-300, #E0E0E0);
    background: var(--branco, #FFF);
}

.novoMentorDados {
    margin-left: 2em;
}

.salvar {
    width: 400px;
    padding: 12px 64px;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #482D83;
    border: 0px solid;
    border-radius: 16px;
}

.atualizar {
    margin-top: 6em;
    margin-left: -832px;
}

table {
    width: 80vw;
    border-collapse: collapse;
    margin-left: -1557px;
    text-align: center;
    margin-top: 8em;
    margin-bottom: 2em;
}

thead {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: white;
    height: 66px;
    background-color: rgba(72, 45, 131, 1);;
}

td {
    height: 60px;
}

.pontaComeco {
    border-radius: 16px 0px 0px 0px;
}

.pontaFinal {
    border-radius: 0px 16px 0px 0px;
}

tr:nth-child(even) {
    background-color: #E0E0E0;
}

tbody tr:hover {
    background-color: #bdbdbd;
}

.botoesFormulario {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    padding: 3px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
}

.status {
    width: 90px;
}

.status-ativo {
    background-color: #bfffd5;
    color: #00ac3f;
    width: 94px;
    height: 44px;
    padding: 10px;
    border: 0px solid;
    border-radius: 8px;
}

.status-inativo {
    background-color: #FFE1E1;
    color: #FF3333;
    width: 94px;
    height: 44px;
    padding: 10px;
    border: 0px solid;
    border-radius: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF3333;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00C247;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00C247;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.espaco {
    margin-top: 1em;
}

.turmas {
    margin-left: -7em;
}

.espaços {
    margin-left: 2em;
}

.topoEspaço {
    margin-top: 2em;
}